:root {
    --cor1: #f802029c;
    --cor2: #810b0d;
    --cor3: #f5bdbd;
   

    /*910707*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    font: 20px Arial, San-serif;

}


.navbar {
    
        justify-content: center!important;
  
}

.navbar-nav .nav-link {
    
    padding-left: 15px!important;
}

a.navbar-brand {
   
    color: #fff!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff!important;
}

@media only screen and (max-width:420px) {
    a.navbar-brand {
        padding-left: 15px!important;
        color: #fff!important;
    }
}

.descricao {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: var(--cor3)
}

.top{
    margin-top: 96px;
}

@media only screen and (max-width:420px) {
    .top{
        margin-top: 176px;
    }
}

h1 {
    text-align: center;
    padding-bottom: 10px;
}
h4 {
    text-align: center;
    
}

div#navbarNavAltMarkup {
    flex-direction: row-reverse;
}

#seguros {
    background-color: var(--cor1);
    padding-top: 20px;
    padding-bottom: 15px;
}

#contato {
    background-color: var(--cor1);
   
    padding-top: 20px;
    padding-bottom: 15px;
}

#quemsomos {
    background-color: var(--cor3);
    padding-top: 20px;
    padding-bottom: 15px;

}
#parceiros {
    background-color: var(--cor3);
    padding-top: 20px;
    padding-bottom: 15px;

}

.carousel-caption {
    
    background-color: #00000096;
    padding: 20px;
    text-align: justify;
    
}


.carousel-seguros {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    background-color: #00000096;
    padding: 2px;
    text-align: justify;
  }
  


.navbar-color {
    background-color: var(--cor2) !important;
}

.img {
    width: 50%;
}

.col-lg-4.img {
    padding-left: 0;
    padding-right: 0;
}


footer {
    background-color: var(--cor2) !important;
}

#img_parceiras img{
    width: 150px;
    height: 100px;
    padding-bottom: 20px;
}

@media screen and (max-width: 420px) 
{
    #img_parceiras img {
        width: 100%;
        height: 200;
        padding-bottom: 20px;
    }
}

img.parceiros {
  
    height: 150px;
}

img.seguros{
    
    height: 20rem!important;
}

.conteudo{
    background-color: rgba(238, 238, 238, 0.37);
    text-align: justify;
}

.row{
    justify-content: center;
    align-items: stretch;
}

